<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Empleados</title>
<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<br>
		<div>
			<a href="/save/0" class="btn btn-primary">AGREGAR</a>
			<a href="/indexSolicitud" class="btn btn-danger">SOLICITUDES</a>
		</div>
		<div th:switch="${list}">
			<h2 th:case="null">No existen registros de Empleados</h2>
			<div th:case="*">
				<h2>EMPLEADOS</h2>
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>NOMBRE</th>
							<th>FECHA</th>
							<th>SALARIO</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="empleado : ${list}">
							<td th:text="${#numbers.formatInteger(empleado.getId(),1)}">
							<td th:text="${empleado.getNombre()}">
							<td th:text="${empleado.getFecha_ingreso()}">
							<td th:text="${#numbers.formatInteger(empleado.getSalario(),1)}">
							<td><a th:href="@{/save/{id}(id=${empleado.getId()})}">Editar</a></td>
							<td><a th:href="@{/delete/{id}(id=${empleado.getId()})}">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>
	
	</div>

</body>
</html>